* {
    margin: 0;
    padding: 0;
}

body {

    background-color: #d7d7d7;
}

h1 {
    position: absolute;
    display: inline;
    font-size: 30px;

    margin-top: 0.5vh;
    margin-left: 10px;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    margin: 12px;
    font-size: 50px;

    font-family: sans-serif;
}

h3 {
    text-align: center;
    margin: 0px;
    font-size: 25px;

    font-family: sans-serif;
}

.container {
    width: 100%; /* remove extra width */
    height: 100vh; /*  keep all content within scrollable-space */
}

.container .chat-box-header {   
    height: 50px; 
    position: fixed; 
    top:0px;
    width:100%; 
    background-color: #8b8b8b;
    white-space: nowrap;   
    z-index: 1;

}

.chat-box-header button{
    font-size: 30px;
    max-width: 100%;
    max-height: 100%;

    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.chat-box-header button img{
    border: none;
    cursor: pointer;

    background-color: inherit;
    max-width: 100%;
    max-height: 50px;
    border: 0;
}

nav {
    visibility: hidden;  
    height: 0; 
}

nav.navbar {
    visibility: visible;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 50px;

    z-index: 1;
}

nav a {
    background: #8b8b8b;
    padding-left: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;

    font-size: 25px;
    color: #010101;
    
    text-decoration: none;
    font-family: sans-serif;
}



.container .chat-box-container {    
    height: 50px; 
    position: fixed; 
    bottom:0px;
    width:100%; 
    background-color: #8b8b8b;
    white-space: nowrap;
}

.chat-input {
    display: inline;
    margin: 0px;
    padding: 0px;
    width: 75%;
    border-width: 0px;
    height: 100%;
    font-size: x-large;

    border-color: #d7d7d7;
    background-color: #8b8b8b;
}

textarea:focus, input:focus{
    outline: none;
}

.chat-button {
    display: inline;
    margin: 0px;
    margin-right: 5%;
    border-width: 0px;

    color: #111111;
    border-color: #111111;
    background-color: #8b8b8b;

    width: 20%;
    height: 100%;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.message-container .message {
    margin-bottom: 10px;
    color: #d7d7d7;

    position: relative;
    height: auto;
}

/* TEXT CONTENT STYLING  */
.message-container .message p{
    font-size: 20px;
    font-family: monospace;
    color: black;
    max-width: 100%;
    word-break: break-all;
}

/* IMAGE CONTENT STYLING  */
img {
    max-width: 250px;
    max-height: 250px;
}

iframe {
    width: 250px;
    height: 400px;
}

.spacer {
    height: 50px;
}