* {
    margin: 0;
    padding: 0;
    

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Roboto Mono', monospace;

    --primary-color: #8b8b8b;
    --secondary-color: #d7d7d7;
}

.header {
    position: fixed;
    z-index: 1;
    background-color: var(--primary-color);
    height: 50px;
    width: 100%;

    border-width: 0px;
    border-style: solid;
}

nav {
    float: left;
    margin-right: 20px;
    margin-top: 15px;
}


nav a {
    color: black;
    text-decoration: none;
    font-family: var(--primary-font);

    padding-left: 25px;
}

.banner {
    position: relative;
    background-color: black;
    height: 400px;
}

.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);

    font-size: 40px;
    text-align: center;
    font-family: var(--primary-font);
}

.banner p {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);

    font-size: 30px;
    text-align: center;
    font-family: var(--secondary-font);
}

.projects {
    position: relative;
    background-color: var(--secondary-color);
    max-height: fit-content;
}

.projects h2 {
    padding: 10px;
    
    color: #000;
    font-size: xx-large;
    font-family: var(--primary-font);
}

.project-tile {
    background-color: var(--primary-color);
    border-color: #000;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;

}

.project-tile h2 {
    padding: 4px;
    
    color: #000;
    font-size: large;
    font-family: var(--primary-font);
}

.project-tile h2 a {
    color: black;
    text-decoration: none;
}

.project-tile p{
    padding: 4px;
    
    font-size: medium;
    font-family: var(--secondary-font);
}

.documentation {
    position: relative;
    background-color: var(--secondary-color);
    height: fit-content;
}

.documentation h2 {
    padding: 10px;
    
    color: #000;
    font-size: xx-large;
    font-family: var(--primary-font);
}

.documentation p {
    padding: 50px;

    font-size: medium;
    font-family: var(--secondary-font);
}

.footer {
    position: relative;
    height: 100px;
    background-color: #000;
}

.footer p {
    padding: 10px;
    
    font-size: large;
    font-family: var(--primary-font);
    color: #fff;
}
