* {
    margin: 0;
    padding: 0;
}

body {

    background-color: #c2c2c244;
}

h1 {
    text-align: center;
    margin: 12px;
    font-size: 30px;

    font-family: sans-serif;
}

h2 {
    text-align: center;
    margin: 12px;
    font-size: 50px;

    font-family: sans-serif;
}

h3 {
    text-align: center;
    margin: 0px;
    font-size: 25px;

    font-family: sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

.container .chat-box-container {
        
    height: 40px; 
    position: fixed; 
    bottom:0px;
    width:100%; 
    background-color: #393838;
    white-space: nowrap;
    opacity: 1;
    
}

.chat-input {
    display: inline;
    margin: 0px;
    padding: 0px;
    width: 80%;
    height: 100%;
    text-size-adjust: 500px;
    
}

textarea:focus, input:focus{
    outline: none;
}

.chat-button {
    display: inline;
    margin: 0px;
    padding: 0px;
    width: 20%;
    text-size-adjust: auto;
    height: 100%;
}

.message-container .message {
    margin-bottom: 10px;
    color: black;

    position: relative;
    height: auto;
}

.message-container .message p{
    font-size: 20px;
    font-family: monospace;
}

.spacer {
    height: 5%;
}