* {
    margin: 0;
    padding: 0;
}

body {

    background-color: #d7d7d7;
}

h1 {
    text-align: center;
    margin: 12px;
    font-size: 30px;

    font-family: sans-serif;
}

h2 {
    text-align: center;
    margin: 12px;
    font-size: 50px;

    font-family: sans-serif;
}

h3 {
    text-align: center;
    margin: 0px;
    font-size: 25px;

    font-family: sans-serif;
}

.container {
    width: 100%; /* remove extra width */
    height: 100vh; /*  keep all content within scrollable-space */
}

.container .chat-box-header {   
    height: 50px; 
    position: fixed; 
    top:0px;
    width:100%; 
    background-color: #8b8b8b;
    white-space: nowrap;   
    z-index: 1;

}

.chat-box-header button{
    font-size: 30px;
    max-width: 100%;
    max-height: 100%;

    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.chat-box-header button img{
    border: none;
    cursor: pointer;

    background-color: inherit;
    max-width: 100%;
    max-height: 50px;
    border: 0;
}

.container .chat-box-container {    
    height: 50px; 
    position: fixed; 
    bottom:0px;
    width:100%; 
    background-color: #8b8b8b;
    white-space: nowrap;
}

.chat-input {
    display: inline;
    margin: 0px;
    padding: 0px;
    width: 80%;
    border-width: 0px;
    height: 100%;
    font-size: 20px;

    border-color: #d7d7d7;
    background-color: #8b8b8b;
}

textarea:focus, input:focus{
    outline: none;
}

.chat-button {
    display: inline;
    margin: 0px;
    border-width: 0px;
    border-color: #d7d7d7;
    background-color: #8b8b8b;
    width: 20%;
    height: 100%;
    font-size : 20px;
    text-align: center;
}

.message-container .message {
    margin-bottom: 10px;
    color: #d7d7d7;

    position: relative;
    height: auto;
}

/* TEXT CONTENT STYLING  */
.message-container .message p{
    font-size: 20px;
    font-family: monospace;
    color: #010101;
    max-width: 100%;
    word-break: break-all;
}

/* IMAGE CONTENT STYLING  */
img {
    max-width: 250px;
    max-height: 250px;
}

.spacer {
    height: 5%;
}