* {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    border-color: black;
    
}

.login-window {

    width: 100%;

    margin-top: 25px;
}

h2 {
    text-align: center;
    margin: 0;
    line-height: 70px;
    font-size: 80px;

}

h3 {
    margin-top: 25px;
    text-align: center;
    font-size: 30px;

    font-family: sans-serif;
    line-height: 40px;
}

.passwordsdisabledtext {
    text-decoration: underline;
    color: #232747;
    bottom: 10px;
}

.login-input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;

    width: 325px;
    height: 40px;
    font-size: 20px;
}

.login-input:focus {
    outline: none !important;
    box-shadow: 0 0 1px;
}

.login-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;

    color: black;


    width: 325px;
    height: 40px;
    font-size: 20px;

}

footer {
    margin-top: 10%;

    bottom: 125px;
    text-align: center;
}
