* {
    margin: 0;
    padding: 0;
}

.container {
    
    min-width: 50%;
    max-width: 800px;
    width: 400px;
    min-height: 15%;
    max-height: 1200px;
    height: 490px;  

 
    position: absolute; 
    top:0; 
    bottom: 115px; 
    left: 0; 
    right: 0; 
 
    margin: auto; 

    background-color: lightgrey;
}

h1 {
    text-align: center;
    margin: 12px;
    font-size: 30px;

    font-family: sans-serif;
    line-height: 35px;
}

h2 {
    text-align: center;
    margin: 32px;
    font-size: 64px;

    font-family: sans-serif;
    line-height: 60px;
}

h3 {
    text-align: center;
    margin: 0px;
    font-size: 30px;

    font-family: sans-serif;
    line-height: 40px;
}

.login-input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;

    width: 325px;
    height: 40px;
    font-size: 20px;
}

.login-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;

    width: 325px;
    height: 40px;
    font-size: 20px;

}